.loader {
  border: 24px solid var(--side-heading);
  border-radius: 50%;
  animation: pieFill 3s linear infinite;
  transform: rotate(45deg);
  z-index: 9999;

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }
}

@keyframes pieFill {
  0%,
  19% {
    border-color: var(--side-heading) var(--side-heading) var(--side-heading)
      var(--side-heading);
  }
  20%,
  39% {
    border-color: var(--primary) var(--side-heading) var(--side-heading)
      var(--side-heading);
  }
  40%,
  59% {
    border-color: var(--primary) var(--primary) var(--side-heading)
      var(--side-heading);
  }
  60%,
  79% {
    border-color: var(--primary) var(--primary) var(--primary)
      var(--side-heading);
  }
  80%,
  100% {
    border-color: var(--primary) var(--primary) var(--primary) var(--primary);
  }
}
